.slider {
	width: 100%;
	border: 2px solid red;
	height: var(--height);
	overflow-x: hidden;
}
.slider .list {
	display: flex;
	width: calc(var(--width) * var(--quantity));
	position: relative;
}
.slider .list .item {
	width: var(--width);
	height: var(--height);
	position: absolute;
	left: 100%;
	animation: AutoRun 10s linear infinite;
	animation-delay: calc((10s / var(--quantity)) * (var(--position) - 1));
}

.slider .list img {
	width: 100%;
}
.slider:hover .item {
	animation-play-state: paused;
}

@keyframes AutoRun {
	from {
		left: 100%;
	}
	to {
		left: calc(var(--width) * -1);
	}
}
