/* :root {
	--box-bg: #003;
}
body {
	--box-bg: #0f0;
}
.box {
	--box-bg: #ff1;
	width: 200px;
	height: 200px;
	border: 2px solid;
	background-color: var(--box-bg);
	border-radius: 5px;
}
section {
	--box-bg: red;
}
div.box2 {
	background: var(--box-bg);
	padding: 10px;
} */
/* :root {
	--box-bg: #003;
}
body {
	--box-bg: #0f0;
}
div{
    --box-bg: .5;

}
.box {
	width: 200px;
	height: 200px;
	border: 2px solid;
	background-color: var(--box-bg);
	border-radius: 5px;
}
 
div.box2 {
	background: var(--box-bg);
	padding: 10px;
} */

@property --box-bg {
	syntax: "<color>";
	inherits: false;
	initial-value: plum;
}
body {
	--box-bg: red;
}
main {
	--box-bg: 10px;
}
.box {
	width: 200px;
	height: 200px;
	border-width: 4px;
	background-color: var(--box-bg);
	border-radius: 5px;
	position: relative;
	transition: 0.5s;
    margin-inline: auto;
}

@property --angle {
	syntax: "<angle>";
	inherits: false;
	initial-value: 0deg;
}

.box::before,
.box:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	z-index: -1;
	border-radius: inherit;
	background: red;
	--angle: 0deg;
	background-image: conic-gradient(
		from var(--angle),
		rgba(255, 0, 255, 0.717),
		#ff0,
		#0ff
	);
	padding: 5px;
	animation: autoRotate 1s linear infinite;
}
.box::before {
	filter: blur(5px);
}

@keyframes autoRotate {
	100% {
		--angle: 360deg;
	}
}
